@media screen and (max-width: 800px){

   .audio{
    display: none;
   } 
   .article{
    margin-top: 16%;
   }
   .container-localização {
     width: 320px;
   }
   .circle-big{
      display: none;
  }
  
  .circle-inner{
   display: none;
  }
  
  .circle-inner-inner{
      display: none;
  }
}