/*#002642 azul
#840032 vermelho
#E5DADA creme
#02040F preto */

body{
    background-color: #002642;
    }
    
    header{
        margin:4%;
        display: flex;
        gap:100%;
    }
    
    .header-title{
        position: absolute;
    }
    
    h1{
        color: aliceblue;
    }
    
    span{
        color: red;
    }
    u{
        color: red;
    }
    .audio{
        margin-top: 30px;
        margin-left: 32px;
        width: 200px;
    }
    main{
        color: #E5DADA;
        text-align: center;
        margin-top: 10%;
        width: 100%;
    }
    .main{
        display: flex;
        column-gap: 10px;
    }
    
    .button{
        padding: 12px 12px 12px 12px;
        background-color: #10344e;
        color: azure;
        border: 1px solid #1456ba;
        border-radius: 5px;
        font-weight: bold;
    }
    
    .footer-text{
        font-size: 20px;
    }
    
    /* Localização */
    
    .container-localização {
        box-sizing: border-box;
        width: 100%;
        padding: 1em;
        background-color: rgb(64, 93, 119);
        text-align: center;
        margin-top: 3%;
        height: 580px;
    }
    
    .titulo{
        text-align: center;
        color: rgb(241, 241, 245);
        font-size: 2em;
    }
    .titulo2{
        color: rgb(240, 235, 235);
    }
    .conteudo{
        margin: 1.2em 0;
    }
    
    
    .cabecalhoConteudo{
        text-align: center;
        margin: 0;
        padding: 0;
        color: #333;
    }
    
    .rodape{
        text-align: center;
        border-radius: 5%;
    }
    
    .conteudoLocalizacao{
     height: 50px;
    }
    
    .mapouter{
       text-align: center;
    }
    
    #mapa{
        height: 220px;
        width: 50%;
    }
    .botao{
        background-color: rgba(69, 71, 163, 0.3);
        box-shadow: 5px 5px 5px rgba(153, 154, 225, 0.3);
        border: none;
        color: white;
        padding: 15px 32px;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        width: 60%;
        border-radius: 5px;
    }

    .meio {
        display: flex;
        margin-top: -2%;
      }
    .article{
        background-image: linear-gradient(#263752, #213f6e, #1f53a8);
        width: 100%;
        border-radius: 12px;
        border: 2px solid rgb(248, 248, 248);
        text-align: center;
        padding: 20px;
        color: #E5DADA;
        text-decoration: none;
        transition: 2s;
        margin-top: 3%;
}
    .nome {
    color: azure;
    text-decoration: none;
}
    p {
        color: azure;
        text-decoration: none;
        justify-content: center;
}

    .center-descri{
     width: 95%;
     text-align: center;
     justify-content: center;
}
    h3{
     color: #E5DADA;
     text-decoration: none;
    }
    .article:hover {
        transform: scale(0.9);
        transition: 2s;
}

/*Contato*/

ul {
    position: relative;
    display: flex;
}

ul li{
    position: relative;
    list-style: none;
    margin: 0 20px;
    cursor: pointer
}

ul li a{
    text-decoration: none;
}

ul li a .fa-brands{
    font-size: 6em;
    color: #222
}

ul li::before{
    font-family: "FontAwesome";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 6em;
    height: 80px;
    overflow: hidden;
}

ul li:nth-child(1)::before{
    content: "\f16d";
    background-image: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%,
    #bc1888 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 4px solid #dc2743;
}

ul li:nth-child(2)::before{
    content: "\f232";
    color: #25D366;
    border-bottom: 4px solid #25D366;
}

ul li:nth-child(3)::before{
    content: "\f099";
    color: #1DA1F2;
    border-bottom: 4px solid #1DA1F2;  
}

ul li:hover::before{
    height: 100%;
}

.rodape-display{
    display: flex;
    gap: 12px
}
.rodape{
    position: fixed;
    bottom: 0;
    margin-top: 100px;
    background-color: #0071ce;
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 48px;
    left: -1px;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}